
/* body */
body {
    background: rgba(0, 0, 0, 0.5) url("../img2/background\ stars.jpg");
}

/* navbar */
.logo {
    width: 100px;
    cursor: pointer;
    margin: 30px 0;
    margin-right: 10px;
}

nav {
    background-color: rgba(231, 12, 12, 0.3); 
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
}

.navbar-toggler {
    color: rgb(12, 12, 12);
    border: 2px solid rgb(12, 12, 12);
}

ul li {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(12, 12, 12);
    margin: 5px;
}

ul li a {
    color: rgb(39, 11, 39) !important;
}

ul li:hover {
    background-color: rgb(39, 11, 39);
}

ul li a:hover {
    text-decoration: none;
}

.nav-item:hover .nav-link {
    color: rgb(255, 255, 255) !important;
}


/* main */
/* section */
section {
    text-align: center;
    width: 700px;
    height: 1000px;
    margin-top: 150px;
}

article {
    text-align: center;
    width: 700px;
    height: 1000px;
    margin-top: 150px;
}


.dropdown {
    background-color: rgba(231, 12, 12, 0.3);
    position: relative;
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    margin: 4px;
    padding: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 4px solid rgba(231, 12, 12, 0.3);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgba(231, 12, 12, 0.3);
}

.cards {
    background: transparent;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
}

.dropdown2 {
    background-color: rgba(35, 22, 255, 0.3);
    position: relative;
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    margin: 4px;
    padding: 2px;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 4px solid rgba(35, 22, 255, 0.3);
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.desc2 {
    padding: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 24px;
    font-weight: bolder;
    background-color: rgba(35, 22, 255, 0.3);
}

.cards2 {
    background: transparent;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
}


/* .sidetitle {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(128, 128, 128);
    width: 250px;
} */

button {
    width: 43px;
    height: 25px;
    cursor: pointer;
    margin-left: 20px;
}

.red {
    color: rgb(255, 255, 255);
    background: rgb(74, 71, 75);
    background: linear-gradient(90deg, rgba(74, 71, 75, 1) 0%, rgba(231, 12, 12, 0.3) 50%, rgba(125, 123, 131, 1) 100%);
}

.blue {
    color: rgb(255, 255, 255);
    background: rgb(74, 71, 75);
    background: linear-gradient(90deg, rgba(74, 71, 75, 1) 0%, rgba(35, 22, 255, 0.3) 50%, rgba(125, 123, 131, 1) 100%);
}


.btn {
    font-size: 8px;
}

/* footer */
footer {
    text-align: center;
  }

i {
    margin-left: 18px;
}

.fa-book-journal-whills {
    color: rgb(108, 117, 125);
}

.fa-facebook-f {
    color: rgb(108, 117, 125);
}

.fa-youtube {
    color: rgb(108, 117, 125)
}

.fa-twitter {
    color: rgb(108, 117, 125);
}

.fa-linkedin {
    color: rgb(108, 117, 125);
}

.fa-jedi {
    color: rgb(108, 117, 125);
}

/* parallax */
.parallax {
    /* The image used */
    background-image: url("../img2/Death-Star-and-Starkiller-Base.webp");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* justify-content: space-evenly */
    justify-content: space-evenly;
    /* align-items: space-evenly */
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.flip-card {
    background-color: transparent;
    width: 100px;
    height: 100px;
    perspective: 1000px;
    /* display: inline-block; */
    padding-top: 100px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: transparent;
    transform: rotateY(180deg);
}

.yodacard {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.yodacard:hover {
    color: rgb(255, 255, 255);
}

.one {
    font-size: 14px;
}










/* Message Corinne Padilla:speech_balloon:Enjoying My Day! */